<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146569334520-tbse1t481q0jv6uuqe8pk7t84uqf70up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146569334520-tbse1t481q0jv6uuqe8pk7t84uqf70up</string>
	<key>API_KEY</key>
	<string>AIzaSyDZSspxKrxFD5r9j0EteA1QkvWb6JOx30g</string>
	<key>GCM_SENDER_ID</key>
	<string>146569334520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appeXper1ence.quesapp</string>
	<key>PROJECT_ID</key>
	<string>quiz-4a9d0</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-4a9d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146569334520:ios:c597ad6e6267fbefc8350d</string>
</dict>
</plist>